

h1 {
  text-align: center;
}
.btn-div {
  height: 200px;
  text-align: center;
}
#btn-launchHat {
  margin: 20px auto;
}

div.jumbotron {
  margin: 20px auto;
}

.student-input-line {
  font-size: 1.2rem;
  margin: 20px 0 10px;
}

.student-input-line label{
  text-align: right;

}
.student-input-line button{
  margin-left: 10px;
  width: 60px;
}
