body {
  margin: 0;
  background-color: white;
}

h1 {
  text-align: center;
}
.btn-div {
  height: 200px;
  text-align: center;
}
#btn-launchHat {
  margin: 20px auto;
}

div.jumbotron {
  margin: 20px auto;
}

.student-input-line {
  font-size: 1.2rem;
  margin: 20px 0 10px;
}

.student-input-line label{
  text-align: right;

}
.student-input-line button{
  margin-left: 10px;
  width: 60px;
}
button img {
  width: 60px;
  height: auto;
}


.student-lists {
  display: flex;
  flex-wrap: wrap; 
}

div.half-page {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  min-height: 400px;
}

.sorted-students {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 12rem;
  height: 180px;
  text-align: center;
  background-color: #f1decf;
  margin-left: 2em;
  margin-right: 2em;
}

const houses_arr = [ "Gryffindor", "Slytherin", "Ravenclaw", "Hufflepuff" ];
.Gryffindor {
  background-color: rgb(216, 191, 138);
}

.Slytherin {
  background-color: rgb(116, 211, 129);
}

.Ravenclaw {
  background-color: rgb(94, 163, 243);
}
.Hufflepuff {
  background-color: rgb(217, 224, 113);
}

.dark-side {
  background-color: rgb(90, 64, 66);
  background-image: url(voldemort_s_army_by_skinst_d2y1mv2.jpg);
  background-size: cover;
  color: white;
}

.expelled {
  display: none;
}
