

h1 {
  text-align: center;
}
.btn-div {
  height: 200px;
  text-align: center;
}
#btn-launchHat {
  margin: 20px auto;
}

div.jumbotron {
  margin: 20px auto;
}

.student-input-line {
  font-size: 1.2rem;
  margin: 20px 0 10px;
  display: flex;
  justify-content: center;
}

.student-input-line label {
  margin-right: 10px;
}


.student-input-line button{
  margin-left: 10px;
}

#student_name {
  width: 30vw;
  padding-bottom: .25em;
}
